<div class="messages">

  <div *ngIf="!selectedChat">Выберите чат</div>
  <div *ngIf="selectedChat">
    <div *ngFor="let message of messages">
      <div class="messages__message">
        <div class="user-name">
          {{getUserName(message.user_id)}}
        </div>
        <img
          src="https://ethnomir.ru/upload/medialibrary/1a4/pustynya_sahara_2.jpg"
          alt="Avatar"
          class="friends__friend__avatar"
        />{{message.text}}
      </div>
    </div>
    <div class="messages__input">
      <i class="fa fa-fw fa-plus-circle w3-xlarge messages__input__attach"></i>
      <input class="messages__input__text" placeholder="Введите сообщение"/>
      <button class="messages__input__btn">
        Отправить
      </button>
    </div>
  </div>


</div>
