<div class="no-chat" *ngIf="!selectedChat">
  <div class="no-chat__title">
    Выберите чат
  </div>
  <div class="no-chat__img">
    <svg xmlns="http://www.w3.org/2000/svg" height="150" viewBox="0 0 24 24" width="150">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path fill="#979393"
            d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/>
    </svg>
  </div>
</div>

<div class="messages">
  <div *ngIf="selectedChat">
    <div *ngFor="let message of messages">
      <div class="messages__message">
        <div class="messages__message__user-info">
          <img src="https://ethnomir.ru/upload/medialibrary/1a4/pustynya_sahara_2.jpg"
            alt="Avatar"
            class="friends__friend__avatar avatar"/>
          <span class="user-name">{{getUserName(message.user_id)}}</span>
        </div>
       <div class="messages__message__text">{{message.text}}</div>
      </div>
    </div>
    <div class="messages__input">
      <i class="fa fa-fw fa-plus-circle w3-xlarge messages__input__attach"></i>
      <input class="messages__input__text" placeholder="Введите сообщение"/>
      <button class="messages__input__btn">
        Отправить
      </button>
    </div>
  </div>


</div>
