<body>
  <div class="menu">Чат об отдыхе</div>
  <div class="messages">
    <div class="messages__message">
      <img
        src="https://cdn2.relax-fm.ru/proxy/vardata/modules/news/files/1/152/news_file_152_5c57ef93e624f.jpg?w=1020&h=680&t=1549266835"
        alt="Avatar"
        class="friends__friend__avatar"
      />Сообщение1
    </div>
    <div class="messages__message">
      <img
        src="https://ethnomir.ru/upload/medialibrary/1a4/pustynya_sahara_2.jpg"
        alt="Avatar"
        class="friends__friend__avatar"
      />Сообщение2
    </div>
    <div class="messages__input"></div>
  </div>
  <div class="chats">
    <div class="chats__create">Создать чат</div>
    <div class="chats__chat">Чат о работе</div>
    <div class="chats__chat">Чат об отдыхе (выбран)</div>
    <div class="chats__chat">Чат обо всём</div>
  </div>
  <div class="friends">
    <div class="friends__add">Добавить друга</div>
    <div class="friends__friend">
      <img
        src="https://ethnomir.ru/upload/medialibrary/1a4/pustynya_sahara_2.jpg"
        alt="Avatar"
        class="friends__friend__avatar"
      />Колесников Владислав
    </div>
    <div class="friends__friend">
      <img
        src="https://cdn2.relax-fm.ru/proxy/vardata/modules/news/files/1/152/news_file_152_5c57ef93e624f.jpg?w=1020&h=680&t=1549266835"
        alt="Avatar"
        class="friends__friend__avatar"
      />Янкевич Анна
    </div>
  </div>
  <div class="footer">Follow us on social media!</div>
</body>
