<body>
  <div class="menu">
    <span id="hamburgerBtnChats">&#9776;</span>{{selectedChat && selectedChat.name}}
    <span id="hamburgerBtnFriends"><i class="fa fa-fw fa-users w3-xxlarge"></i></span>
  </div>
  <div class="messages">
    <app-messages [selectedChat]="selectedChatId"></app-messages>
  </div>
  <div class="chats" id="chats">
    <app-chats (setSelectedChat)="setSelectedChatId($event)"></app-chats>
  </div>
  <div class="friends" id="friends">
    <app-friends [selectedChat]="selectedChatId"></app-friends>
  </div>
</body>
