body {
  display: grid;
  grid-template-areas:
    'menu menu menu'
    'chats messages friends';
  grid-template-rows: 60px calc(100vh - 120px);
  grid-template-columns: 20% 60% 20%;
}
.menu {
  grid-area: menu;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  background-color: #27292d;
  color: #bbc2c6;
}
.chats {
  grid-area: chats;
  background-color: #1f2023;

  &__chat {
    margin: 10px;
    padding: 10px;
    background-color: #27292d;
    border-radius: 10px;
    color: #bbc2c6;
  }

  &__create {
    margin: 10px;
    padding: 10px;
    background-color: #222831;
    border-radius: 10px;
    color: #bbc2c6;
    text-align: center;
    font-size: large;
  }
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: messages;
  background-color: #2d2f34;

  &__message {
    margin: 5px 10px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    background-color: #27292d;
    color: #bbc2c6;
  }

  &__input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-left: 10px;
    height: 40px;
    border-radius: 10px;
    border-color: #1f2023;
    background-color: #383b40;
    color: #bbc2c6;

    &__text {
      height: 40px;
      background-color: #383b40;
      border-radius: 10px;
      border: none;
      color: #bbc2c6;
      width: 100%;
    }

    &__btn {
      position: relative;
      border-radius: 10px;
      height: 33.5px;
      width: 100px;
      margin-right: 5px;
      margin-top: 3px;
      float: right;
      background-color: #222831;
      border: none;
      color: #bbc2c6;
      font-size: small;
      cursor: pointer;
    }

    &__btn:hover {
      background-color: #1f2023;
    }

    &__attach {
      margin-right: 10px;
      background-color: #383b40;
      width: 25px;
      padding-top: 8px;
      cursor: pointer;
    }
  }
}
.friends {
  grid-area: friends;
  background-color: #1f2023;

  &__friend {
    margin: 10px;
    padding: 10px;
    background-color: #27292d;
    border-radius: 10px;
    color: #bbc2c6;

    &__avatar {
      vertical-align: middle;
      width: 25px;
      height: 25px;
      margin-right: 3%;
      border-radius: 50%;
      font-size: 1.6em;
    }
  }

  &__add {
    margin: 10px;
    padding: 10px;
    background-color: #222831;
    border-radius: 10px;
    color: #bbc2c6;
    text-align: center;
    font-size: large;
    height: 50px;
  }
}

#hamburgerBtnChats {
  position: absolute;
  left: 20px;
  display: none;
}

#hamburgerBtnChats:hover {
  cursor: pointer;
}

#hamburgerBtnFriends {
  position: absolute;
  right: 20px;
  display: none;
}

#hamburgerBtnFriends:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #hamburgerBtnChats {
    display: inline-block;
  }

  .chats {
    transform: translateX(-1000px);
    transition: transform 500ms;
  }

  #chats.open {
    width: 99vw;
    transform: translateX(0);
    transition: transform 500ms;
  }

  .messages {
    width: 98.7vw;
    transform: translateX(-20%);
  }

  #hamburgerBtnFriends {
    display: inline-block;
  }

  .friends {
    width: 0;
    transform: translateX(1000px);
    transition: transform 500ms;
  }

  #friends.open {
    width: 99vw;
    transform: translateX(-80%);
    transition: transform 500ms;
  }
}
