<div class="chat">
  <div class="toolbar">Menu</div>
  <div class="content">
    <div class="content__chats">
      <div class="content__chats__chat">Чат о работе</div>
      <div class="content__chats__chat">Чат об отдыхе</div>
      <div class="content__chats__chat">Чат обо всём</div>
    </div>
    <div class="content__messages">
      <div class="content__messages__input"></div>
    </div>
    <div class="content__friends">
      <div class="content__friends__friend">
        <img
          src="https://ethnomir.ru/upload/medialibrary/1a4/pustynya_sahara_2.jpg"
          alt="Avatar"
          class="content__friends__friend__avatar"
        />Колесников Владислав
      </div>
      <div class="content__friends__friend">
        <img
          src="https://cdn2.relax-fm.ru/proxy/vardata/modules/news/files/1/152/news_file_152_5c57ef93e624f.jpg?w=1020&h=680&t=1549266835"
          alt="Avatar"
          class="content__friends__friend__avatar"
        />Янекевич Анна
      </div>
    </div>
  </div>
</div>
