.chat {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.toolbar {
  flex-grow: 1;
  padding-left: 1%;
  background-color: #27292d;
  font-size: 35px;
  color: white;
  height: 25px;
}

.content {
  flex-grow: 11;
  display: flex;
  flex-direction: row;

  &__chats {
    flex-grow: 1;
    background-color: #1f2023;

    &__chat {
      margin: 3%;
      padding: 5%;
      background-color: #27292d;
      border-radius: 10px;
      color: white;
    }

    &__create {
      margin: 3%;
      padding: 5%;
      background-color: #222831;
      border-radius: 10px;
      color: white;
      position: relative;
      bottom: -46%;
      text-align: center;
      font-size: large;
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 3;
    background-color: #2d2f34;

    &__input {
      margin: 10px;
      height: 40px;
      border-radius: 10px;
      background-color: #383b40;
    }
  }

  &__friends {
    flex-grow: 1;
    background-color: #1f2023;

    &__friend {
      margin: 3%;
      padding: 2%;
      background-color: #27292d;
      border-radius: 10px;
      color: white;

      &__avatar {
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-right: 3%;
        border-radius: 50%;
        font-size: 1.6em;
      }
    }

    &__add {
      margin: 3%;
      padding: 3%;
      background-color: #222831;
      border-radius: 10px;
      color: white;
      position: relative;
      bottom: -63%;
      text-align: center;
      font-size: large;
      height: 50px;
    }
  }
}
