<div class="profile">
  <img
    src="https://cdn2.relax-fm.ru/proxy/vardata/modules/news/files/1/152/news_file_152_5c57ef93e624f.jpg?w=1020&h=680&t=1549266835"
    alt="Avatar"
    class="profile__avatar"
  />
  <div class="profile__account">
    <div class="profile__account__info">Username: MyLogin</div>
    <div class="profile__account__info">Gender: Male</div>
    <div class="profile__account__info">Birthday: 04.09.2000</div>
    <div class="profile__account__info">Email: soprano@gmail.com</div>
    <div class="profile__account__info">Phone: 89043110850</div>
  </div>
</div>
