<div class="profile">
  <img
    src="https://cdn2.relax-fm.ru/proxy/vardata/modules/news/files/1/152/news_file_152_5c57ef93e624f.jpg?w=1020&h=680&t=1549266835"
    alt="Avatar"
    class="profile__avatar"
  />
  <div class="profile__account">
    <div class="profile__account__info">Username: {{username}}</div>
    <div class="profile__account__info">Gender: {{gender}}</div>
    <div class="profile__account__info">Birthday: {{birthday}}</div>
    <div class="profile__account__info">Email: {{email}}</div>
    <div class="profile__account__info">Phone: {{phone}}</div>
  </div>
</div>
