<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="topnav">
  <span class="title" routerLink="/">Chat</span>
  <a routerLink="/"> <i class="fa fa-fw fa-home w3-xxlarge"></i></a>
  <a routerLink="/profile"> <i class="fa fa-fw fa-user w3-xxlarge"></i></a>
  <a routerLink="/auth"> <i class="fa fa-fw fa-sign-in w3-xxlarge"></i></a>
</div>
<router-outlet></router-outlet>
