<div class="sing-in">

  <input class="reg-input" type="text" name="login" placeholder="Логин">
  <input class="reg-input" type="text" name="password" placeholder="Пароль">
  <input class="reg-input" type="tel" name="phone" placeholder="Телефон">
  <input class="reg-input" type="email" name="email" placeholder="Email">

  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input
      type="text"
      placeholder="Дата рождения"
      class="form-control data-picker"
      bsDatepicker
      [bsConfig]="{ isAnimated: true,
              containerClass: 'default'}">
  </div>

  <div class="gender">

    <label> Жен
      <input  type="radio" name="gender" class="gender__checkbox">
    </label>
    <label> Муж
      <input  type="radio" name="gender" class="gender__checkbox">
    </label>


  </div>

  <button class="button reg-button">
    Войти
  </button>

</div>
