* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  color: #797a7e;
  font-family: 'Calibri Light', sans-serif;
}

body {
  height: 100%;
  background: #2d2f34;
}

.button {
  text-align: center;
  opacity: 60%;
  font-size: 2vh;
  padding: 10px;
  letter-spacing: 1px;
  border: none;
}

.bs-datepicker-head button {
  background: #bbc2c6 !important;
  color: #383b40 !important;
}

.bs-datepicker-body table td span {
  color: black;
}
